<div class="panel panel-default">
	<div class="panel-heading clearfix">
		<div class="col-md-6"><h4>Fiche serie</h4></div>
		<div class="col-md-6">
			<div class="pull-right">
				<div class="btn-group" role="group" aria-label="...">
					<a href="{{ path('ram_serie_home') }}" class="btn btn-default" title="Retour à la liste">
						<i class="glyphicon glyphicon-list"></i>	
					</a>
					<a href="{{ path('ram_serie_edit', {'serie_id': serie.id}) }}" class="btn btn-default" title="Modifier une serie">
						<i class="glyphicon glyphicon-edit"></i>
					</a>
					<a href="{{ path('ram_serie_delete', {'serie_id': serie.id}) }}" class="btn btn-danger" title="Supprimer une serie">
						<i class="glyphicon glyphicon-trash"></i>
					</a>
				</div>
			</div>
		</div>				
	</div>
	<!-- /.panel-heading -->
	<div class="panel-body">
		<!-- /.table-responsive -->
		<div class="well">
			<h3>{{ serie.numero }}</h3>
			<dl>
				<dt><i>Crée le : {{ serie.dCre|date('d/m/Y') }}</dt>
				<dt>
					Le produit : <a href="{{ path('ram_produit_view', {'produit_id': serie.produit.id}) }}">{{ serie.produit.nom }}</a>
				</dt>
				<dt>
					La recette : <a href="{{ path('ram_recette_view', {'recette_id': serie.recette.id}) }}">{{ serie.recette.nom }}</a>
				</dt>																
				<dt>La quantité : {{ serie.quantity }}</dt>
			</dl>
			<h4>Description : </h4>
			<p> {{ serie.description }} </p>
		</div>
	</div>
	<!-- /.panel-body -->
</div>
<!-- /.panel -->