<div class="panel panel-default">
	<div class="panel-heading clearfix">
		<div class="col-md-6"><h4>Liste de ingrédients</h4></div>
		<div class="col-md-6">
			<div class="pull-right">
				<div class="btn-group" role="group" aria-label="...">
					<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal" title="Ajouter un nouvel ingrédient">
						<i class="glyphicon glyphicon-plus"></i>
					</a>
				</div>
			</div>
		</div>	
	</div>
	<!-- /.panel-heading -->
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>Ingrédient</th>
						<th>Quantité</th>
						<th>Unité</th>
					</tr>
				</thead>
				<tbody>
					{% for compo in serie.ingredients %}
					<tr> 
						<td>
							<a href="{{ path('ram_ingredient_view', {'ingredient_id': compo.ingredient.id}) }}"> 
								{{ compo.ingredient.nom }}
							</a>

						</td>
						<td>{{ compo.quantity }}</td>
						<td>{{ compo.unite }}</td>
						<td>
							<div class="btn-group pull-right" role="group" aria-label="...">
								<a href="{{ path('ram_serie_ingredient_edit', {'serie_id': compo.serie.id, 'ingredient_id' : compo.ingredient.id}) }}" class="btn btn-xs btn-default" title="Supprimer cet ingrédient de la serie">
									<i class="glyphicon glyphicon-edit"></i>
								</a> 												
								<a href="{{ path('ram_serie_ingredient_delete', {'serie_id': compo.serie.id, 'ingredient_id' : compo.ingredient.id}) }}" class="btn btn-xs btn-danger" title="Supprimer cet ingrédient de la serie">
									<i class="glyphicon glyphicon-trash"></i>
								</a> 
							</div>
						</td>
					</tr>
					{% else %}
					<tr>Pas (encore !) de series</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<!-- /.table-responsive -->
	</div>
	<!-- /.panel-body -->
</div>
<!-- /.panel -->
<div class="panel panel-default">
	<div class="panel-heading clearfix">
		<i class="fa fa-bar-chart-o fa-fw"></i>Ingrédients en pourcentage
	</div>
	<!-- /.panel-heading -->
	<div class="panel-body">
		<div class="flot-chart">
			<div class="flot-chart-content" id="flot-pie-chart"></div>
		</div>
	</div>
	<!-- /.panel-body -->
</div>
<!-- /.panel -->