{# src/Ram/SavonBundle/Resources/view/Serie/view.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
	Fiche de la serie
{% endblock %}

{% block section %}
	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Séries</h1>
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-md-6">
				<!-- Fiche produit. -->
				{{ include("RamSavonBundle:Serie:fiche.html.twig") }}			
				<!-- Liste détapes. -->
				{{ include("RamSavonBundle:Serie:etapes.html.twig") }}
			</div>
			<!-- /.col-lg-6 -->
			<div class="col-md-6">
				{{ include("RamSavonBundle:Serie:ingredients.html.twig") }}	
			</div>
			<!-- /.col-lg-6 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /#page-wrapper -->

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Ajouter un ingrédient</h4>
				</div>
				<div class="modal-body">
					<!-- Formulaire ajout nouvelle recette. -->
					{{ include("RamSavonBundle:Serie:formIngredient.html.twig") }}
				</div>
			</div>
		</div>
	</div>
	<!-- / Modal -->
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    <!-- Flot Charts JavaScript -->
    <script src="{{ asset('assets/vendor/flot/excanvas.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/flot/jquery.flot.js') }}"></script>
    <script src="{{ asset('assets/vendor/flot/jquery.flot.pie.js') }}"></script>
    <script src="{{ asset('assets/vendor/flot/jquery.flot.resize.js') }}"></script>
    <script src="{{ asset('assets/vendor/flot.tooltip/js/jquery.flot.tooltip.min.js') }}"></script>

	<script>
		$(function()
		{
			$.ajax({
				url : "{{ path('ram_serie_ingredient_charts', {'serie_id': serie.id}) }}",
				type : 'GET',
				dataType : 'json', 
				success : function(data, statut)
				{
					var plotObj = $.plot($("#flot-pie-chart"), data, {
						series: {
							pie: {
								show: true
							}
						},
						grid: {
							hoverable: true
						},
						tooltip: true,
						tooltipOpts: {
							content: "%p.0%, %s",
							shifts: {
								x: 20,
								y: 0
							},
							defaultTheme: false
						}
					});
				}
			});
		});

		$(document).ready(function() {
			$('#dataTables-example').DataTable({
				responsive: true
			});
		});
	</script>
{% endblock %}