{# src/Ram/SavonBundle/Resources/view/Produit/view.html.twig #}

{% extends "::admin_layout.html.twig" %}

{% block title %}
	Produits
{% endblock %}

{% block stylesheets %}
	<!-- Bootstrap Core CSS -->
	<link href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
	<!-- MetisMenu CSS -->
	<link href="{{ asset('assets/vendor/metisMenu/dist/metisMenu.min.css') }}" rel="stylesheet">
	<!-- Custom Fonts -->
	<link href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('assets/vendor/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/vendor/datatables-responsive/css/responsive.dataTables.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/vendor/bootstrapValidator/css/bootstrapValidator.min.css') }}" rel="stylesheet">
	<!-- Custom CSS -->
	<link href="{{ asset('assets/dist/css/sb-admin-2.css') }}" rel="stylesheet">
{% endblock %}


{% block section %}

	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Produits</h1>
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<div class="col-md-6"><h4>Fiche produit</h4></div>
						<div class="col-md-6">
							<div class="pull-right">
								<div class="btn-group" role="group" aria-label="...">
									<a href="{{ path('ram_produit_home') }}" class="btn btn-default" title="Retour à la liste des produits">
										<i class="glyphicon glyphicon-list"></i>	
									</a>
									<a href="{{ path('ram_produit_edit', {'produit_id': produit.id}) }}" class="btn btn-default" title="Modifier le produit">
										<i class="glyphicon glyphicon-edit"></i>
									</a>
									<a href="{{ path('ram_produit_delete', {'produit_id': produit.id}) }}" class="btn btn-danger" title="Supprimer le produit">
										<i class="glyphicon glyphicon-trash"></i>
									</a> 
								</div>
							</div>
						</div>			
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<!-- /.table-responsive -->
						<div class="well">
							<h3>{{ produit.nom }}</h3>
							<dl>
								<dt><i>Crée le : {{ produit.dCre|date('d/m/Y') }}</dd>
								<dt>Type de produit : {{ produit.type }}</dd>
								<dt>Type de peaux : {{ produit.typePeaux }}</dd>
							</dl>
							
							<h4>Description : </h4>
							<p> {{ produit.description }}</p>
						</div>
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<i class="fa fa-list"> Liste des recettes</i>
						<div class="pull-right">
						<div class="btn-group" role="group" aria-label="...">
							<a href="#" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#myModal" title="Ajouter une nouvelle recette"><i class="glyphicon glyphicon-plus"></i></a>
						</div>
						</div>
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>#</th>
										<th>Nom</th>
										<th>Durée Sponif.</th>
										<th>Durée Cure</th>
									</tr>
								</thead>
								<tbody>                              
									{% for recette in produit.recettes %}
										<tr> 
											<td>{{ recette.id }}</td> 
											<td> 
												<a href="{{ path('ram_recette_view', {'recette_id': recette.id}) }}"> 
													{{ recette.nom }}
												</a>
											</td>
											<td>{{ recette.dureeSponification }}</td>
											<td>{{ recette.dureeCure }}</td>
										</tr>
									{% else %}
										<tr>Pas (encore !) de recettes</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						<!-- /.table-responsive -->
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-6 -->
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						Liste des séries
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>#</th>
										<th>First Name</th>
										<th>Last Name</th>
										<th>Username</th>
									</tr>
								</thead>
								<tbody>
									<tr class="success">
										<td>1</td>
										<td>Mark</td>
										<td>Otto</td>
										<td>@mdo</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- /.table-responsive -->
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->

				<!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
					<div class="modal-content">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Ajouter une recette</h4>
					  </div>
					  <div class="modal-body">
							<!-- Formulaire ajout nouvelle recette. -->
							{{ include("RamSavonBundle:Recette:form.html.twig") }}
					  </div>
					</div>
				  </div>
				</div>
			</div>
			<!-- /.col-lg-6 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /#page-wrapper -->
{% endblock %}


{% block javascripts %}
	<!-- jQuery -->
	<script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
	<!-- Metis Menu Plugin JavaScript -->
	<script src="{{ asset('assets/vendor/metisMenu/dist/metisMenu.min.js') }}"></script>
	<!-- DataTables JavaScript -->
	<script src="{{ asset('assets/vendor/datatables/media/js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('assets/vendor/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js') }}"></script>
	<script src="{{ asset('assets/vendor/bootstrapValidator/js/bootstrapValidator.min.js') }}"></script>
	<!-- Custom Theme JavaScript -->
	<script src="{{ asset('assets/dist/js/sb-admin-2.js') }}"></script>
	<!-- Include bootbox.js -->
	<script src="//oss.maxcdn.com/bootbox/4.2.0/bootbox.min.js"></script>
	<!-- Include FOS JS -->
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

	<!-- Page-Level Demo Scripts - Tables - Use for reference -->
	<script>
		$(document).ready(function() {
			$('#dataTables-example').DataTable({
				responsive: true
			});
		});
	</script>
{% endblock %}