{# src/Ram/SavonBundle/Resources/view/Produit/view.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
	Produits
{% endblock %}

{% block section %}

	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Produits</h1>
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<div class="col-md-6"><h4>Fiche produit</h4></div>
						<div class="col-md-6">
							<div class="pull-right">
								<div class="btn-group" role="group" aria-label="...">
									<a href="{{ path('ram_produit_home') }}" class="btn btn-default" title="Retour à la liste des produits">
										<i class="glyphicon glyphicon-list"></i>	
									</a>
									<a href="{{ path('ram_produit_edit', {'produit_id': produit.id}) }}" class="btn btn-default" title="Modifier le produit">
										<i class="glyphicon glyphicon-edit"></i>
									</a>
									<a href="{{ path('ram_produit_delete', {'produit_id': produit.id}) }}" class="btn btn-danger" title="Supprimer le produit">
										<i class="glyphicon glyphicon-trash"></i>
									</a> 
								</div>
							</div>
						</div>			
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<!-- /.table-responsive -->
						<div class="well">
							<h3>{{ produit.nom }}</h3>
							<dl>
								<dt><i>Crée le : {{ produit.dCre|date('d/m/Y') }}</dd>
								<dt>Type de produit : {{ produit.type }}</dd>
								<dt>Type de peaux : {{ produit.typePeaux }}</dd>
							</dl>
							
							<h4>Description : </h4>
							<p> {{ produit.description }}</p>
						</div>
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<i class="fa fa-list"> Liste des recettes</i>
						<div class="pull-right">
							<div class="btn-group" role="group" aria-label="...">
								<a href="{{ path('ram_recette_add') }}" class="btn btn-xs btn-primary" title="Ajouter une nouvelle recette"><i class="glyphicon glyphicon-plus"></i></a>
							</div>
						</div>
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>#</th>
										<th>Nom</th>
										<th>Durée Sponif.</th>
										<th>Durée Cure</th>
									</tr>
								</thead>
								<tbody>                              
									{% for recette in produit.recettes %}
										<tr> 
											<td>{{ recette.id }}</td> 
											<td> 
												<a href="{{ path('ram_recette_view', {'recette_id': recette.id}) }}"> 
													{{ recette.nom }}
												</a>
											</td>
											<td>{{ recette.dureeSponification }}</td>
											<td>{{ recette.dureeCure }}</td>
										</tr>
									{% else %}
										<tr>Pas (encore !) de recettes</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						<!-- /.table-responsive -->
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-6 -->
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<i class="fa fa-list"> Liste des series</i>
						<div class="pull-right">
							<div class="btn-group" role="group" aria-label="...">
								<a href="{{ path('ram_serie_add') }}" class="btn btn-xs btn-primary" title="Ajouter une nouvelle recette"><i class="glyphicon glyphicon-plus"></i></a>
							</div>
						</div>
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>#</th>
										<th>First Name</th>
										<th>Last Name</th>
										<th>Username</th>
									</tr>
								</thead>
								<tbody>
									{% for serie in produit.series %}
										<tr> 
											<td>{{ serie.id }}</td> 
											<td> 
												<a href="{{ path('ram_serie_view', {'serie_id': serie.id}) }}"> 
													{{ serie.numero }}
												</a>
											</td>
											<td>{{ serie.quantity }}</td>
											<td></td>
										</tr>
									{% else %}
										<tr>Pas (encore !) de recettes</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						<!-- /.table-responsive -->
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-6 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /#page-wrapper -->
{% endblock %}