{# src/Ram/SavonBundle/Resources/views/Recette/delete.html.twig #}

{% extends "RamSavonBundle::layout.html.twig" %}

{% block title %}
  Supprimer une recette - {{ parent() }}
{% endblock %}

{% block ram_savon_body %}

  <h2>Supprimer un recette</h2>

  <p>
    Etes-vous certain de vouloir supprimer la recette "{{ recette.nom }}" ?
  </p>

  <form action="{{ path('ram_recette_delete', {'recette_id': recette.id}) }}" method="post">
    <a href="{{ path('ram_recette_view', {'recette_id': recette.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la recette
    </a>
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {{ form_rest(form) }}
  </form>

{% endblock %}