{# src/Ram/SavonBundle/Resources/views/Recette/delete.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
  	Supprimer une recette
{% endblock %}

{% block stylesheets %}
<!-- Bootstrap Core CSS -->
<link href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
<!-- MetisMenu CSS -->
<link href="{{ asset('assets/vendor/metisMenu/dist/metisMenu.min.css') }}" rel="stylesheet">
<!-- Custom Fonts -->
<link href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
<!-- Custom CSS -->
<link href="{{ asset('assets/dist/css/sb-admin-2.css') }}" rel="stylesheet">
{% endblock %}

{% block section %}

<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
		<h1 class="page-header">Recettes</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Supprimmer une recette existante
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">
							<p>
								Etes-vous certain de vouloir supprimer la recette "{{ recette.nom }}" ?
							</p>

							<form action="{{ path('ram_recette_delete', {'recette_id': recette.id}) }}" method="post">
								<a href="{{ path('ram_recette_view', {'recette_id': recette.id}) }}" class="btn btn-default">
									<i class="glyphicon glyphicon-chevron-left"></i>
									Retour à la recette
								</a>
								<input type="submit" value="Supprimer" class="btn btn-danger" />
								{{ form_rest(form) }}
							</form>
						</div>
					</div>
					<!-- /.row (nested) -->
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
</div>
<!-- /#page-wrapper -->
{% endblock %}

{% block javascripts %}
<!-- jQuery -->
<script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="{{ asset('assets/vendor/metisMenu/dist/metisMenu.min.js') }}"></script>
<!-- Custom Theme JavaScript -->
<script src="{{ asset('assets/dist/js/sb-admin-2.js') }}"></script>
{% endblock %}