<div class="panel panel-default">
	<div class="panel-heading clearfix">
		<div class="col-md-6"><h4>Composition (Sur 100g)</h4></div>
		<div class="col-md-6">
			<div class="pull-right">
				<div class="btn-group" role="group" aria-label="...">
					<a id="recetteAddButton" href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal" title="Ajouter une nouvelle recette">
						<i class="glyphicon glyphicon-plus"></i>
					</a>
				</div>
			</div>
		</div>	
	</div>
	<!-- /.panel-heading -->
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Ingrédient</th>
						<th>Pourcentage</th>
						<th>Qauntité</th>
						<th class="text-right">Action</th>
					</tr>
				</thead>
				<tbody> 
					{% for compo in recette.ingredients %}
					<tr> 
						<td>
							<a href="{{ path('ram_ingredient_view', {'ingredient_id': compo.ingredient.id}) }}"> 
								{{ compo.ingredient.nom }}
							</a>
						</td>
						<td>{{ compo.pourcentage }}%</td>
						<td>{{ compo.pourcentage }}g</td>
						<td>
							<div class="btn-group pull-right" role="group" aria-label="...">
								<a href="{{ path('ram_recette_ingredient_edit', {'recette_id': compo.recette.id, 'ingredient_id' : compo.ingredient.id}) }}" class="btn btn-xs btn-default" title="Supprimer cet ingrédient de la recette">
									<i class="glyphicon glyphicon-edit"></i>
								</a> 												
								<a href="{{ path('ram_recette_ingredient_delete', {'recette_id': compo.recette.id, 'ingredient_id' : compo.ingredient.id}) }}" class="btn btn-xs btn-danger" title="Supprimer cet ingrédient de la recette">
									<i class="glyphicon glyphicon-trash"></i>
								</a> 
							</div>
						</td>
					</tr>
					{% else %}
					<tr>Pas (encore !) de recettes</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<!-- /.table-responsive -->
	</div>
	<!-- /.panel-body -->
</div>
<!-- /.panel -->

<div class="panel panel-default">
	<div class="panel-heading clearfix">
		<i class="fa fa-bar-chart-o fa-fw"></i>Ingrédients en pourcentage
	</div>
	<!-- /.panel-heading -->
	<div class="panel-body">
		<div class="flot-chart">
			<div class="flot-chart-content" id="flot-pie-chart"></div>
		</div>
	</div>
	<!-- /.panel-body -->
</div>
<!-- /.panel -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Ajouter une recette</h4>
			</div>
			<div class="modal-body">
				<!-- Formulaire ajout nouvelle recette. -->
				{{ include("RamSavonBundle:Recette:formIngredient.html.twig") }}
			</div>
		</div>
	</div>
</div>
<!-- / Modal -->