{# src/Ram/SavonBundle/Resources/view/Recette/view.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
	Fiche de recette
{% endblock %}

{% block section %}

	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Recettes</h1>
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-md-6">
				<!-- Panel de la liste des ingrédients. -->
				{{ include("RamSavonBundle:Recette:fiche.html.twig") }}
				<!-- Panel des étapes. -->
				{{ include("RamSavonBundle:Recette:etapes.html.twig") }}
			</div>
			<!-- /.col-md-6 -->
			<div class="col-md-6">
				<!-- Panel de la liste des ingrédients. -->
				{{ include("RamSavonBundle:Recette:ingredients.html.twig") }}
			</div>
			<!-- /.col-md-6 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /#page-wrapper -->

{% endblock %}

{% block javascripts %}
	{{ parent() }}
    <!-- Flot Charts JavaScript -->
    <script src="{{ asset('assets/vendor/flot/excanvas.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/flot/jquery.flot.js') }}"></script>
    <script src="{{ asset('assets/vendor/flot/jquery.flot.pie.js') }}"></script>
    <script src="{{ asset('assets/vendor/flot/jquery.flot.resize.js') }}"></script>
    <script src="{{ asset('assets/vendor/flot.tooltip/js/jquery.flot.tooltip.min.js') }}"></script>

	<script>
		$(function()
		{
			$.ajax({
				url : "{{ path('ram_recette_ingredient_charts', {'recette_id': recette.id}) }}",
				type : 'GET',
				dataType : 'json', 
				success : function(data, statut)
				{
					var plotObj = $.plot($("#flot-pie-chart"), data, {
						series: {
							pie: {
								show: true
							}
						},
						grid: {
							hoverable: true
						},
						tooltip: true,
						tooltipOpts: {
							content: "%p.0%, %s",
							shifts: {
								x: 20,
								y: 0
							},
							defaultTheme: false
						}
					});
				}
			});
		});

		$(document).ready(function() {
			$('#dataTables-example').DataTable({
				responsive: true
			});
		});
	</script>
{% endblock %}