{# src/Ram/SavonBundle/Resources/view/Recette/view.html.twig #}

{% extends "::admin_layout.html.twig" %}

{% block title %}
	Fiche de recette
{% endblock %}

{% block stylesheets %}
	<!-- Bootstrap Core CSS -->
	<link href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
	<!-- MetisMenu CSS -->
	<link href="{{ asset('assets/vendor/metisMenu/dist/metisMenu.min.css') }}" rel="stylesheet">
	<!-- Custom Fonts -->
	<link href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('assets/vendor/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/vendor/datatables-responsive/css/responsive.dataTables.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/vendor/bootstrapValidator/css/bootstrapValidator.min.css') }}" rel="stylesheet">
	<!-- Custom CSS -->
	<link href="{{ asset('assets/dist/css/sb-admin-2.css') }}" rel="stylesheet">
{% endblock %}

{% block section %}

	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Recettes</h1>
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<div class="col-md-6"><h4>Fiche recette</h4></div>
						<div class="col-md-6">
							<div class="pull-right">
								<div class="btn-group" role="group" aria-label="...">
									<a href="{{ path('ram_recette_home') }}" class="btn btn-default" title="Retour à la liste">
										<i class="glyphicon glyphicon-list"></i>	
									</a>
									<a href="{{ path('ram_recette_edit', {'recette_id': recette.id}) }}" class="btn btn-default" title="Modifier une recette">
										<i class="glyphicon glyphicon-edit"></i>
									</a>
									<a href="{{ path('ram_recette_delete', {'recette_id': recette.id}) }}" class="btn btn-danger" title="Supprimer une recette">
										<i class="glyphicon glyphicon-trash"></i>
									</a> 
								</div>
							</div>
						</div>		
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<!-- /.table-responsive -->
						<div class="well">
							<h3>{{ recette.nom }}</h3>
							<dl>
								<dt><i>Crée le : {{ recette.dCre|date('d/m/Y') }}</dt>
								<dt>
									Le produit : <a href="{{ path('ram_produit_view', {'produit_id': recette.produit.id}) }}" title="Supprimer une recette">{{ recette.produit.nom }}</a>
								</dt>
								<dt>Durée de sponification : {{ recette.dureeSponification }}</dt>
								<dt>Durée de cure : {{ recette.dureeCure }}</dt>
							</dl>
							<h4>Description : </h4>
							<p> {{ recette.description }}</p>
						</div>
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-16 -->
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<div class="col-md-6"><h4>Liste de ingrédients</h4></div>
						<div class="col-md-6">
							<div class="pull-right">
								<div class="btn-group" role="group" aria-label="...">
									<a id="recetteAddButton" href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal" title="Ajouter une nouvelle recette">
										<i class="glyphicon glyphicon-plus"></i>
									</a>
								</div>
							</div>
						</div>	
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>#</th>
										<th>Ingrédient</th>
										<th>Quantité</th>
										<th>Unité</th>
									</tr>
								</thead>
								<tbody> 
									{% for compo in recette.recetteIngredient %}
									<tr> 
										<td></td>
										<td>
											<a href="{{ path('ram_ingredient_view', {'ingredient_id': compo.ingredient.id}) }}"> 
												{{ compo.ingredient.nom }}
											</a>
									
										</td>
										<td>{{ compo.quantity }}</td>
										<td>{{ compo.unite }}</td>
									</tr>
									{% else %}
									<tr>Pas (encore !) de recettes</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						<!-- /.table-responsive -->
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-6 -->
		</div>
		<!-- /.row -->

		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Ajouter une recette</h4>
					</div>
					<div class="modal-body">
						<!-- Formulaire ajout nouvelle recette. -->
						{{ include("RamSavonBundle:Recette:formIngredient.html.twig") }}
					</div>
				</div>
			</div>
		</div>
		<!-- / Modal -->
	</div>
	<!-- /#page-wrapper -->
{% endblock %}


{% block javascripts %}
	<!-- jQuery -->
	<script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
	<!-- Metis Menu Plugin JavaScript -->
	<script src="{{ asset('assets/vendor/metisMenu/dist/metisMenu.min.js') }}"></script>
	<!-- DataTables JavaScript -->
	<script src="{{ asset('assets/vendor/datatables/media/js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('assets/vendor/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js') }}"></script>
	<script src="{{ asset('assets/vendor/bootstrapValidator/js/bootstrapValidator.min.js') }}"></script>
	<!-- Custom Theme JavaScript -->
	<script src="{{ asset('assets/dist/js/sb-admin-2.js') }}"></script>
	<!-- Include bootbox.js -->
	<script src="//oss.maxcdn.com/bootbox/4.2.0/bootbox.min.js"></script>
	<!-- Include FOS JS -->
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

	<!-- Page-Level Demo Scripts - Tables - Use for reference -->
	<script>
		$(document).ready(function() {
			$('#dataTables-example').DataTable({
				responsive: true
			});
		});
	</script>
{% endblock %}