{# src/Ram/SavonBundle/Resources/view/Recette/view.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
	Fiche de recette
{% endblock %}

{% block section %}

	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Recettes</h1>
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<div class="col-md-6"><h4>Fiche recette</h4></div>
						<div class="col-md-6">
							<div class="pull-right">
								<div class="btn-group" role="group" aria-label="...">
									<a href="{{ path('ram_recette_home') }}" class="btn btn-default" title="Retour à la liste">
										<i class="glyphicon glyphicon-list"></i>	
									</a>
									<a href="{{ path('ram_recette_edit', {'recette_id': recette.id}) }}" class="btn btn-default" title="Modifier une recette">
										<i class="glyphicon glyphicon-edit"></i>
									</a>
									<a href="{{ path('ram_recette_delete', {'recette_id': recette.id}) }}" class="btn btn-danger" title="Supprimer une recette">
										<i class="glyphicon glyphicon-trash"></i>
									</a> 
								</div>
							</div>
						</div>		
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<!-- /.table-responsive -->
						<div class="well">
							<h3>{{ recette.nom }}</h3>
							<dl>
								<dt><i>Crée le : {{ recette.dCre|date('d/m/Y') }}</dt>
								<dt>
									Le produit : <a href="{{ path('ram_produit_view', {'produit_id': recette.produit.id}) }}" title="Supprimer une recette">{{ recette.produit.nom }}</a>
								</dt>
								<dt>Durée de sponification : {{ recette.dureeSponification }}</dt>
								<dt>Durée de cure : {{ recette.dureeCure }}</dt>
							</dl>
							<h4>Description : </h4>
							<p> {{ recette.description }}</p>
						</div>
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->

				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<div class="col-md-6"><h5>Les étapes</5></div>
						<div class="col-md-6">
							<div class="pull-right">
								<div class="btn-group" role="group" aria-label="...">
									<a id="recetteAddButton" href="#" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal" title="Ajouter une nouvelle recette">
										<i class="glyphicon glyphicon-plus"></i>
									</a>
								</div>
							</div>
						</div>	
					</div>
	                <!-- /.panel-heading -->
	                <div class="panel-body">
	                    <div class="list-group">
	                        <a href="#" class="list-group-item">
	                            <i class="fa fa-comment fa-fw"></i> New Comment
	                            <span class="pull-right text-muted small"><em>4 minutes ago</em>
	                            </span>
	                        </a>
	                        <a href="#" class="list-group-item">
	                            <i class="fa fa-twitter fa-fw"></i> 3 New Followers
	                            <span class="pull-right text-muted small"><em>12 minutes ago</em>
	                            </span>
	                        </a>
	                        <a href="#" class="list-group-item">
	                            <i class="fa fa-envelope fa-fw"></i> Message Sent
	                            <span class="pull-right text-muted small"><em>27 minutes ago</em>
	                            </span>
	                        </a>
	                        <a href="#" class="list-group-item">
	                            <i class="fa fa-tasks fa-fw"></i> New Task
	                            <span class="pull-right text-muted small"><em>43 minutes ago</em>
	                            </span>
	                        </a>
	                        <a href="#" class="list-group-item">
	                            <i class="fa fa-upload fa-fw"></i> Server Rebooted
	                            <span class="pull-right text-muted small"><em>11:32 AM</em>
	                            </span>
	                        </a>
	                        <a href="#" class="list-group-item">
	                            <i class="fa fa-bolt fa-fw"></i> Server Crashed!
	                            <span class="pull-right text-muted small"><em>11:13 AM</em>
	                            </span>
	                        </a>
	                        <a href="#" class="list-group-item">
	                            <i class="fa fa-warning fa-fw"></i> Server Not Responding
	                            <span class="pull-right text-muted small"><em>10:57 AM</em>
	                            </span>
	                        </a>
	                        <a href="#" class="list-group-item">
	                            <i class="fa fa-shopping-cart fa-fw"></i> New Order Placed
	                            <span class="pull-right text-muted small"><em>9:49 AM</em>
	                            </span>
	                        </a>
	                        <a href="#" class="list-group-item">
	                            <i class="fa fa-money fa-fw"></i> Payment Received
	                            <span class="pull-right text-muted small"><em>Yesterday</em>
	                            </span>
	                        </a>
	                    </div>
	                    <!-- /.list-group -->
	                    <a href="#" class="btn btn-default btn-block">View All Alerts</a>
	                </div>
	                <!-- /.panel-body -->
            	</div>
            	<!-- /.panel -->
			</div>
			<!-- /.col-md-6 -->

			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<div class="col-md-6"><h4>Liste de ingrédients</h4></div>
						<div class="col-md-6">
							<div class="pull-right">
								<div class="btn-group" role="group" aria-label="...">
									<a id="recetteAddButton" href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal" title="Ajouter une nouvelle recette">
										<i class="glyphicon glyphicon-plus"></i>
									</a>
								</div>
							</div>
						</div>	
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>Ingrédient</th>
										<th>Quantité</th>
										<th>Unité</th>
										<th class="text-right">Action</th>
									</tr>
								</thead>
								<tbody> 
									{% for compo in recette.ingredients %}
									<tr> 
										<td>
											<a href="{{ path('ram_ingredient_view', {'ingredient_id': compo.ingredient.id}) }}"> 
												{{ compo.ingredient.nom }}
											</a>
										</td>
										<td>{{ compo.quantity }}</td>
										<td>{{ compo.unite }}</td>
										<td>
											<div class="btn-group pull-right" role="group" aria-label="...">
												<a href="{{ path('ram_recette_ingredient_edit', {'recette_id': compo.recette.id, 'ingredient_id' : compo.ingredient.id}) }}" class="btn btn-xs btn-default" title="Supprimer cet ingrédient de la recette">
													<i class="glyphicon glyphicon-edit"></i>
												</a> 												
												<a href="{{ path('ram_recette_ingredient_delete', {'recette_id': compo.recette.id, 'ingredient_id' : compo.ingredient.id}) }}" class="btn btn-xs btn-danger" title="Supprimer cet ingrédient de la recette">
													<i class="glyphicon glyphicon-trash"></i>
												</a> 
											</div>
										</td>
									</tr>
									{% else %}
									<tr>Pas (encore !) de recettes</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						<!-- /.table-responsive -->
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->

				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<i class="fa fa-bar-chart-o fa-fw"></i>Ingrédients en pourcentage
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<div class="flot-chart">
							<div class="flot-chart-content" id="flot-pie-chart"></div>
						</div>
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-md-6 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /#page-wrapper -->

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Ajouter une recette</h4>
				</div>
				<div class="modal-body">
					<!-- Formulaire ajout nouvelle recette. -->
					{{ include("RamSavonBundle:Recette:formIngredient.html.twig") }}
				</div>
			</div>
		</div>
	</div>
	<!-- / Modal -->

{% endblock %}


{% block javascripts %}
	{{ parent() }}
    <!-- Flot Charts JavaScript -->
    <script src="{{ asset('assets/vendor/flot/excanvas.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/flot/jquery.flot.js') }}"></script>
    <script src="{{ asset('assets/vendor/flot/jquery.flot.pie.js') }}"></script>
    <script src="{{ asset('assets/vendor/flot/jquery.flot.resize.js') }}"></script>
    <script src="{{ asset('assets/vendor/flot.tooltip/js/jquery.flot.tooltip.min.js') }}"></script>

	<script>
		$(function()
		{
			$.ajax({
				url : "{{ path('ram_recette_ingredient_charts', {'recette_id': recette.id}) }}",
				type : 'GET',
				dataType : 'json', 
				success : function(data, statut)
				{
					var plotObj = $.plot($("#flot-pie-chart"), data, {
						series: {
							pie: {
								show: true
							}
						},
						grid: {
							hoverable: true
						},
						tooltip: true,
						tooltipOpts: {
							content: "%p.0%, %s",
							shifts: {
								x: 20,
								y: 0
							},
							defaultTheme: false
						}
					});
				}
			});
		});

		$(document).ready(function() {
			$('#dataTables-example').DataTable({
				responsive: true
			});
		});
	</script>
{% endblock %}