{# src/Ram/SavonBundle/Resources/views/Produit/form.html.twig #}

<div class="well">
	{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

	{{ form_errors(form) }}

	<div class="form-group">
		{{ form_label(form.nom, "Nom du produit", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
		{{ form_errors(form.nom) }}
		<div class="col-sm-4">
			{{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>

	<div class="form-group">
		{{ form_label(form.type, "Le type du produit", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
		{{ form_errors(form.type) }}
		<div class="col-sm-4">
			{{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>

	<div class="form-group">
		{{ form_label(form.description, "Description du Savon", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
		{{ form_errors(form.description) }}
		<div class="col-sm-4">
			{{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>


	<div class="form-group">
		<div class="col-sm-7">
			{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary pull-right'}}) }}
		</div>
	</div>

	
	{{ form_rest(form) }}
  
	{{ form_end(form) }}
</div>
