{# src/Ram/SavonBundle/Resources/views/Ingredient/index.html.twig #}

{% extends "RamSavonBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block ram_savon_body %}

	<h1>Ingrédients</h1>
    <hr>

	<h3>Liste des ingrédients</h3>
	<table class="table table-striped table-hover">
		<thead>
			<tr class="info"> <td>Id</td> <td>Nom de l'ingrédient</td> <td>Unité</td> <td>Type</td></tr>
		</thead>
		<tbody>
			{% for ingredient in listIngredients %}
				<tr> 
					<td>{{ ingredient.id }}</td>
					<td> 
						<a href="{{ path('ram_ingredient_view', {'id': ingredient.id}) }}"> 
							{{ ingredient.nom }}
						</a>
					</td>
					<td>{{ ingredient.unite }}</td>
					<td>{{ ingredient.type }}</td>
				</tr>
			{% else %}
				<tr>Pas (encore !) de ingredients</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}