{# src/Ram/SavonBundle/Resources/views/Recette/index.html.twig #}

{% extends "RamSavonBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block ram_savon_body %}
	<h1>Recettes</h1>
	<hr>

	<a href="{{ path('ram_composition_add') }}" class="btn btn-primary pull-right">
		<i class="glyphicon glyphicon-plus"> </i> Ingrédient
	</a>		
	<br>
	<br>
	<table class="table table-striped table-hover">
		<thead>
			<tr class="info"> <td>Recette</td> <td>Ingrédient</td><td>Quantité</td><td>Unité</td></tr>
		</thead>
		<tbody>
			{% for composition in listCompositions %}
				<tr> 
					<td> 
						<a href="{{ path('ram_recette_view', {'id': composition.recette.id}) }}"> 
							{{ composition.recette.nom }}
						</a>
					</td>
					<td>{{ composition.ingredient.nom }}</td>
					<td>{{ composition.quantite }}</td>
					<td>{{ composition.unite }}</td>
				</tr>
			{% else %}
				<tr>Pas (encore !) de compositions</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}